.side-bar
  .side-bar__user-name
    .top-items
      %p.top-items__name
        masa
      %ul.top-items__icons
        %li.top-items__icons__btn
          = link_to "#" do
            = icon('far', 'edit')
        %li.top-items__icons__btn
          = link_to "#" do
            = icon('fas', 'cog')
  .side-bar__group-list
    .group
      %p.group__name 
        techcamp
      %p.group__last-message
        まだメッセージはありません
    .group
      %p.group__name 
        techcamp
      %p.group__last-message
        まだメッセージはありません