* {
  box-sizing: border-box;
}

$font-grey: #434A54;

.wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
  .side-bar {
    color: $white;
    height: 100%;
    width: 300px;
    &__user-name {
      background-color: #253141;
      height: 100px;
      font-weight: bold;
      display: flex;
      align-items: center;
      .top-items{
        height: 20px;
        width: 260px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        &__name {
          line-height: 20px;
        }
        &__icons {
          line-height: 20px;
          width: 60px;
          display: flex;
          justify-content: flex-end;
          li {
            a {
              color: $white;
              padding-left: 5px;
            }
          }
        }
      }
    }
    &__group-list {
      background-color: #2f3e51;
      height: calc(100vh - 100px);
      padding: 20px;
      a {
        color: white;
        text-decoration: none;
        .group {
          height: 45px;
          margin-bottom: 40px;
          &__name {
            height: 23px;
            font-size: 15px;
            margin-bottom: 5px;
          }
          &__message {
            height: 17px;
            font-size: 11px;
          }
        }
      }
    }
  }
  .chat-main {
    float: left;
    width: calc(100vw - 300px);
    .group-info {
      background-color: $white;
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px#f0f0f0;
      overflow: scroll;
      &__left-box {
        margin-top: 35px;
        &__current-group {
          color: #333333;
          font-size: 20px;
          margin-bottom: 15px;
        }
        &__member__list {
          line-height: 18px;
          font-size: 12px;
          color: #999999;
          display:flex;
          &__member {
            margin-left: 4.8px;
          }
        }
      }
      a {
        height: 40px;
        line-height: 40px;
        color: $light_blue;
        font-size: 16px;
        margin-top: 28px;
        padding: 0 20px;
        border: solid 1px $light_blue;
        text-decoration: none;
      }
    }
    .messages {
      background-color: #fafafa;
      height: calc(100vh - 190px);
      padding: 35px 40px;
      overflow: scroll;
      .message {
        padding-bottom: 46px;
        .upper-message {
          margin-bottom: 12px;
          display: flex;
          &__user-name {
            color: #333333;
            font-size: 16px;
            font-weight: bold;
          }
          &__date {
            color: #999999;
            font-size: 12px;
            margin-left: 10px;
          }
        }
        .lower-message {
          font-size: 14px;
          color: $black;
        }
      }
    }
    .form {
      background-color: #DDDDDD;
      height: 90px;
      padding: 20px 40px;
      .new_message {
        display: flex;
      }
      &__message {
        border: none;
        float: left;
        height: 50px;
        width: calc(100% - 150px);
        padding-left: 10px;
      }
      &__mask {
        background-color: $white;
        float: left;
        height: 50px;
        padding-right: 10px;
        &__image {
          font-size: 20px;
          line-height: 50px;
        }
        .hidden {
          display: none;
        }
      }
      &__submit {
        background-color: $light_blue;
        border: none;
        color: $white;
        float: right;
        font-size: 16px;
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
      }
    }
  }
}